extends base.pug


block content
        div
                p=video.description
                small=video.creatdAt
        a(href=`/videos/${video.id}/edit`) Edit video &rarr;
        br
        a(href=`/videos/${video.id}/delete`) Delete video &rarr;